{% extends "main/base.html" %}
{% load static %}

<title>{% block title %} {% endblock title %}</title>
{% block header %}
    {% include "main/header.html" %}
{% endblock header %}
{% block left-menu %}
    {% include "main/left_menu.html" %}
{% endblock left-menu %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 bg-dark menu-style"><span class="title_section">Популярные позиции</span>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            {% for filter in popular_filter %}
                {% include "main/product_item_index.html" %}
            {% endfor %}

        </div>
        <div class="row">
            <div class="col-lg-12 bg-dark menu-style"><span class="title_section">Новые поступления</span>
            </div>
        </div>
        <div class="row">
            {% for filter in new_filter %}
                {% include "main/product_item_index.html" %}
            {% endfor %}
        </div>
        {% if filter_sale %}
            <div class="row">
                <div class="col-lg-12 bg-dark menu-style"><span class="title_section">Акции</span>
                </div>

            </div>

            <div class="row">
                {% for filter in filter_sale %}
                    {% include "main/product_item_index.html" %}
                {% endfor %}
            </div>
        {% endif %}
{#        <div class="row ">#}
{#            <div class="col-lg-12 bg-dark menu-style"><span class="title_section">Производители</span>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-4 mt-2" style="height: 200px; text-align: center">#}
{##}
{#                <img style=" border: 1px solid #cccccc" width="250" height="130" class="img-fluid"#}
{#                     src="/brand_images/{{ brands_image_list.2.image }}">#}
{#            </div>#}
{#            <div class="col-lg-4 mt-2" style="height: 250px; text-align: center; vertical-align: middle">#}
{##}
{#                <img style="border: 1px solid #cccccc" width="250" class="img-fluid"#}
{#                     src="/brand_images/{{ brands_image_list.7.image }}">#}
{#            </div>#}
{#            <div class="col-lg-4 mt-2" style="height: 250px; text-align: center; vertical-align: middle">#}
{#                <img style="border: 1px solid #cccccc" width="250" class="img-fluid"#}
{#                     src="/brand_images/{{ brands_image_list.4.image }}"> {#Donaldson#}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-4 mt-2" style="height: 200px; text-align: center">#}
{##}
{#                <img style=" border: 1px solid #cccccc" width="250" height="130" class="img-fluid"#}
{#                     src="/brand_images/{{ brands_image_list.2.image }}">#}
{#            </div>#}
{#            <div class="col-lg-4 mt-2" style="height: 250px; text-align: center; vertical-align: middle">#}
{##}
{#                <img style="border: 1px solid #cccccc" width="250" class="img-fluid"#}
{#                     src="/brand_images/{{ brands_image_list.7.image }}">#}
{#            </div>#}
{#            <div class="col-lg-4 mt-2 align-text-bottom"#}
{#                 style="height: 250px; text-align: center; vertical-align: middle">#}
{#                <img style="border: 1px solid #cccccc" width="250" class="img-fluid"#}
{#                     src="/brand_images/{{ brands_image_list.4.image }}"> {#Donaldson#}
{#            </div>#}
{##}
{#        </div>#}
    </div>


{% endblock content %}
{% block right-menu %}
    {% include "main/right_menu.html" %}
{% endblock right-menu %}
{% block footer %}
    {% include "main/footer.html" %}
{% endblock footer %}



