<div class="col-lg-2">
    <div class="row">
        <div class="col-lg-12 bg-dark menu-style"><span class="title_section">Категории</span></div>
    </div>
    <div class="row menu-style">
        <ul class=" col navbar-nav breadcrumb">
            {% for cat in categorys %}
                <li class="nav-item abbr">
                    <a href="/filters/category/{{ cat.id_category }}/">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row menu-style">
        <div class="col bg-dark menu-style"><span class="title_section">Производители</span></div>
        <ul class="col navbar-nav breadcrumb menu-style">
            {% for brand in brands %}
                <li>
                    <a href="/filters/brand/{{ brand.id_brand }}/">{{ brand.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

