<div class="col-2">
    <div class="row">
{#        <form class="mb-2">#}
{#            <div class="input-group">#}
{#                <input type="text" class="form-control" placeholder="Поиск">#}
{#                <div class="input-group-btn">#}
{#                    <button class="btn btn-success" type="submit">#}
{#                        <i class="fa fa-search"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
        <div class="col bg-dark menu-style"><span class="title_section">Свяжитесь с нами</span></div>
    </div>
    <div class="row breadcrumb">
        <ul class="col navbar-nav menu-style">
            <li class="nav-item">E-mail:</li>
            <li class="nav-item">info@gmail.ru</li>
            <li class="nav-item">Звоните по любым вопросам</li>
            <li>Звоните бесплатно</li>
            <li>+7 (800) 555-35-35</li>
        </ul>
    </div>
{#    <div class="row mt-1">#}
{#        <div class="col bg-dark menu-style"><span class="title_section">Последние статьи</span></div>#}
{#    </div>#}
{#    <div class="row breadcrumb ">#}
{#        <ul class="col navbar-nav menu-style">#}
{#            <li class="nav-item">Новость1</li>#}
{#            <li class="nav-item">Новость2</li>#}
{#            <li class="nav-item">Новость3</li>#}
{#            <li class="nav-item">Новость4</li>#}
{##}
{#        </ul>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col bg-dark menu-style"><span class="title_section">Топ продаж</span></div>#}
{#    </div>#}
{#    <div class="row breadcrumb">#}
{#        <ul class="col navbar-nav menu-style">#}
{#            <li class="nav-item">Товар1</li>#}
{##}
{#        </ul>#}
{#    </div>#}
{#    <div class="row mt-2">#}
{#        <div class="col bg-dark menu-style"><span class="title_section">Акции</span></div>#}
{#    </div>#}
{#    <div class="row breadcrumb">#}
{#        <ul class="col navbar-nav menu-style">#}
{#            <li class="nav-item">Товар1</li>#}
{#            <li class="nav-item">Товар2</li>#}
{#            <li class="nav-item">Товар3</li>#}
{#            <li class="nav-item">Товар4</li>#}
{##}
{#        </ul>#}
{#    </div>#}

</div>