#panel {
    display: none;
}

.panel {
    display: none;
}

body {

}

.title_section {
    font-size: 20px;
    color: #CCCCCC;
}

.product-item {
    height: 150px;
    position: relative;
    padding: 5px;
    text-align: center;
}

.add_to_cart {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;

}

/*.wrapper{*/
/*min-height: 100%;*/
/*}*/