<div class="row"><!-- start header -->
    <div class="col-3">
        <a href="index.html">
            <h1>Bootstrap Cart</h1>
        </a>
    </div>
    <div class="col-9">

        <div class="row float-right">
            <div class="col-5">&nbsp;</div>
            <div class="col-2">
                <h4>Currency</h4>
                <a href="#">USD</a> |
                <a href="#"><strong>GBP</strong></a> |
                <a href="#">EUR</a>
            </div>
            <div class="col-2">
                <a href="cart.html"><h4>Shopping Cart (3)</h4></a>
                <a href="cart.html">2 item(s) - $40.00</a>
            </div>
            <div class="col-3 customer_service">
                <h4>FREE delivery on ALL orders</h4>
                <h4>
                    <small>Customer service: 0800 8475 548</small>
                </h4>
            </div>
        </div>
        <br>
        <div class="row float-right">
            <div class="col">
                <a href="index.html">Home</a> |
                <a href="my_account.html">My Account</a> |
                <a href="cart.html">Shopping Cart</a> |
                <a href="two-column.html">About</a> |
                <a href="contact.html">Contact</a>
            </div>

        </div>
    </div>
</div><!-- end header -->
<div class="row"><!-- start nav -->
    <div class="col-sm-12">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 3</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск">
                <button class="btn btn-success" type="submit">Поиск</button>
            </form>
        </nav>
    </div>
</div><!-- end nav -->