<div class="col-sm-3">
    <!-- start sidebar -->


    <div class="col-sm-12 container-fluid bg-dark"><span style="color: #CCC;">Категории</span></div>
    <div class="col-sm-12 breadcrumb">

        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="flip" onclick="my_slide(this, this.nextElementSibling)">
                    <a href="#">Топливные фильтры</a>
                </div>
                <div class="panel">
                    - Mac (1)
                    - PC (11)<br/>
                </div>
            </li>
            <li>
                <div class="flip" onclick="my_slide(this, this.nextElementSibling)">
                    <a href="#">Goodwill</a>
                </div>
                <div class="panel">
                    <a href="#">Масляные фильтры</a>
                </div>

            </li>

        </ul>
    </div><!-- end sidebar -->

</div>