<div class="col-lg-2">
    <!-- start sidebar -->

    <div class="row">
        <div class="col-lg-12 bg-dark"><span class="title_section">Мой профиль</span></div>
    </div>
    <div class="row">
        <ul class=" col navbar-nav breadcrumb">
            <li class="nav-item">
                <a href="#">Моя корзина</a>
            </li>
            <li class="nav-item">
                <a href="#">Мои заказы</a>
            </li>
            <li class="nav-item">
                <a href="#">Избранное</a>
            </li>


        </ul>
    </div>
    <!-- end sidebar -->
    <!--JS (jQuery) slide Toggle script-->
{#    <script>#}
{#        $(".flip").click(function () {#}
{#            $(this.lastElementChild).slideToggle("slow");#}
{#        });#}
{#    </script>#}
</div>
