<div class="col-sm-3">
    <!-- start sidebar -->
    <ul class="breadcrumb">
        <li>Categories</li>
    </ul>
    <div class="col-sm-3 product_list">
        <ul class="nav">
            <li>
                <a class="active" href="category.html">Desktops (12)</a>
                <ul>
                    <li><a href="listings.html"> - PC (11)</a></li>
                    <li><a class="active" href="listings.html"> - Mac (1)</a></li>
                </ul>
            </li>
            <li>
                <a href="category.html">Laptops &amp; Notebooks (5)</a>
                <ul>
                    <li><a href="listings.html"> - Macs (0)</a></li>
                    <li><a href="listings.html"> - Windows (0)</a></li>
                </ul>
            </li>
            <li>
                <a href="category.html">Components (2)</a>
                <ul>
                    <li><a href="listings.html"> - Mice and Trackballs (0)</a></li>
                    <li><a href="listings.html"> - Monitors (2)</a></li>
                    <li><a href="listings.html"> - Printers (0)</a></li>
                    <li><a href="listings.html"> - Scanners (0)</a></li>
                    <li><a href="listings.html"> - Web Cameras (0)</a></li>
                </ul>
            </li>
            <li><a href="category.html">Tablets (1)</a></li>
            <li><a href="category.html">Software (0)</a></li>
            <li><a href="category.html">Phones &amp; PDAs (3)</a></li>
            <li><a href="category.html">Cameras (2)</a></li>
        </ul>
    </div><!-- end sidebar -->
</div>