<div class="col-sm-3">
    <!-- start sidebar -->
    <div class="col-sm-12 container-fluid bg-dark"><span style="color: #CCC;">Категории</span></div>
    <div class="col-sm-12 breadcrumb">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="flip">
                    <a href="#">Топливные фильтры</a>
                    <div class="panel">
                        - Mac (1)<br/>
                        - PC (11)
                    </div>
                </div>

            </li>
            <li>
                <div class="flip">
                    <a href="#">Goodwill</a>
                    <div class="panel">
                        <a href="#">Масляные фильтры</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
</div>