<div class="col-sm-2">
    <div class="row">
        <h4>Свяжитесь с нами</h4><br>
        <p>E-mail:
            info@pasnb.ru
            Звоните по любым вопросам
            Звоните бесплатно
            +7 (800) 222-06-71

            Звоните из Москвы
            8 (495) 665-83-48</p>
        <form method="POST" action="">
            <input type="submit" value="Отправить сообщение" name="Message">
        </form>
        <h4>Новости</h4>
    </div>
    <br><br>
    <a href="#"><img alt="" title="" src="css/images/paypal_mc_visa_amex_disc_150x139.gif"></a>
    <a href="#"><img alt="" src="css/images/bnr_nowAccepting_150x60.gif"></a>
</div>